In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [7]:
df = pd.DataFrame(randn(5,4),['a','b','d','f','e'],['w','x','y','z'])

In [8]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [9]:
df['w']

a    0.302665
b   -0.134841
d    0.807706
f   -0.497104
e   -0.116773
Name: w, dtype: float64

In [10]:
type(df['w'])

pandas.core.series.Series

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.w

a    0.302665
b   -0.134841
d    0.807706
f   -0.497104
e   -0.116773
Name: w, dtype: float64

In [13]:
df['x']

a    1.693723
b    0.390528
d    0.072960
f   -0.754070
e    1.901755
Name: x, dtype: float64

In [15]:
df[['w','z']]

          w         z
a  0.302665 -1.159119
b -0.134841  0.184502
d  0.807706  0.329646
f -0.497104  0.484752
e -0.116773  1.996652

In [16]:
df['new'] = df['w']+df['y']

In [17]:
df['new']

a   -1.403420
b    0.032064
d    1.446493
f   -1.440510
e    0.121354
Name: new, dtype: float64

In [18]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -1.403420
b -0.134841  0.390528  0.166905  0.184502  0.032064
d  0.807706  0.072960  0.638787  0.329646  1.446493
f -0.497104 -0.754070 -0.943406  0.484752 -1.440510
e -0.116773  1.901755  0.238127  1.996652  0.121354

In [19]:
df.drop

<bound method DataFrame.drop of           w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -1.403420
b -0.134841  0.390528  0.166905  0.184502  0.032064
d  0.807706  0.072960  0.638787  0.329646  1.446493
f -0.497104 -0.754070 -0.943406  0.484752 -1.440510
e -0.116773  1.901755  0.238127  1.996652  0.121354>

In [23]:
df.drop('new',axis = 1,inplace=True)

In [24]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [25]:
df.drop('e')

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752

In [26]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [27]:
df.drop('e',inplace=True)

In [28]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752

In [29]:
df.shape

(4, 4)

In [30]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
d  0.807706  0.072960  0.638787  0.329646
f -0.497104 -0.754070 -0.943406  0.484752

In [31]:
df.loc['a']

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [32]:
 df.iloc[2]

w    0.807706
x    0.072960
y    0.638787
z    0.329646
Name: d, dtype: float64

In [33]:
df.loc['a','w']

0.3026654485851825

In [34]:
df.loc[['a','b'],['w','y']]

          w         y
a  0.302665 -1.706086
b -0.134841  0.166905