In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [4]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
df = pd.DataFrame(randn(6,2),hier_index,['a','b']) #randn to generate values, second value gives index for rows, third value - index for coloumn

In [8]:
df

             a         b
G1 1  0.569268 -0.612698
   2  1.110215  0.218994
   3 -0.508412 -1.186716
G2 1  0.114635 -1.056534
   2 -0.236236 -0.928474
   3  0.092239 -0.662171

In [9]:
 df.loc['G1']

          a         b
1  0.569268 -0.612698
2  1.110215  0.218994
3 -0.508412 -1.186716

In [11]:
 df.loc['G1'].loc[1]

a    0.569268
b   -0.612698
Name: 1, dtype: float64

In [12]:
df.index.names

FrozenList([None, None])

In [13]:
df.index.names = ['Groups', 'Num']

In [14]:
df

                   a         b
Groups Num
G1     1    0.569268 -0.612698
       2    1.110215  0.218994
       3   -0.508412 -1.186716
G2     1    0.114635 -1.056534
       2   -0.236236 -0.928474
       3    0.092239 -0.662171

In [17]:
df.loc['G2'].loc[2].loc['b']

-0.9284742884633729

In [18]:
df.xs

<bound method NDFrame.xs of                    a         b
Groups Num
G1     1    0.569268 -0.612698
       2    1.110215  0.218994
       3   -0.508412 -1.186716
G2     1    0.114635 -1.056534
       2   -0.236236 -0.928474
       3    0.092239 -0.662171>

In [20]:
df.xs('G1')

            a         b
Num
1    0.569268 -0.612698
2    1.110215  0.218994
3   -0.508412 -1.186716

In [21]:
df.xs(1,level='Num')

               a         b
Groups
G1      0.569268 -0.612698
G2      0.114635 -1.056534