In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
labels =['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [7]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [12]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [13]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4],['USA','Japan','India','UK'])

In [18]:
ser1

USA      1
Japan    2
India    3
UK       4
dtype: int64

In [19]:
ser1['USA']

1

In [20]:
ser2 = pd.Series(data = labels)

In [22]:
ser2[1]

'b'

In [23]:
ser1+ser2

C:\Users\pande\Anaconda3\lib\site-packages\pandas\core\indexes\base.py:3772: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  return this.join(other, how=how, return_indexers=return_indexers)

USA      NaN
Japan    NaN
India    NaN
UK       NaN
0        NaN
1        NaN
2        NaN
dtype: object