In [3]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),['A','B','c','D','E'],['w','x','y','z'])

In [7]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
df>0

       w      x      y      z
A   True   True   True   True
B   True  False  False   True
c  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [9]:
booldf = df>0

In [10]:
df[booldf]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df[df>0]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df['w']>0

A     True
B     True
c    False
D     True
E     True
Name: w, dtype: bool

In [13]:
df['w']

A    2.706850
B    0.651118
c   -2.018168
D    0.188695
E    0.190794
Name: w, dtype: float64

In [14]:
df[df['w']>0]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df[df['z']<0]

          w         x         y         z
c -2.018168  0.740122  0.528813 -0.589001

In [16]:
df[df['w']>0]['x']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: x, dtype: float64

In [17]:
df[df['w']>0][['x','y']]

          x         y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967

In [18]:
boolseries = df['w']>0

In [19]:
boolseries

A     True
B     True
c    False
D     True
E     True
Name: w, dtype: bool

In [20]:
result = df[boolseries]

In [21]:
result
result[['y','x']]

          y         x
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [22]:
df = pd.DataFrame(randn(5,4),['A','B','c','D','E'],['w','x','y','z'])

In [23]:
df[(df['w']>0) & (df['y']>1)]

Empty DataFrame
Columns: [w, x, y, z]
Index: []

In [24]:
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [25]:
df[(df['w']>0) & (df['y']>1)]

Empty DataFrame
Columns: [w, x, y, z]
Index: []

In [27]:
df[(df['w']>0) | (df['y']>1)]

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
c  0.807706  0.072960  0.638787  0.329646

In [28]:
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [29]:
df.reset_index()

  index         w         x         y         z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     c  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [30]:
df

          w         x         y         z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [31]:
newind = 'CA NY WY OR CO'.split()

In [32]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [33]:
df['states']= newind

In [34]:
df

          w         x         y         z states
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
c  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [35]:
df.set_index('states')

               w         x         y         z
states
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [36]:
df

          w         x         y         z states
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
c  0.807706  0.072960  0.638787  0.329646     WY
D -0.497104 -0.754070 -0.943406  0.484752     OR
E -0.116773  1.901755  0.238127  1.996652     CO

In [38]:
df.set_index('states', inplace = True)

In [39]:
df

               w         x         y         z
states
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652

In [40]:
df

               w         x         y         z
states
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
WY      0.807706  0.072960  0.638787  0.329646
OR     -0.497104 -0.754070 -0.943406  0.484752
CO     -0.116773  1.901755  0.238127  1.996652